<div class="flex flex-col  px-2  ">
    <div class="flex justify-end p-3">
        <button
            class="border border-blue-500 text-blue-500 px-4 py-1 rounded hover:bg-blue-500 hover:text-white transition"
            (click)="backToFirst()">
            ← Back
        </button>
    </div>
    <div class="flex gap-4  border-1 border-gray-500 p-2  rounded-sm">

        <!-- LEFT -->
        <div class="w-3/5 flex flex-col gap-2 relative  overflow-y-auto  border-1 border-gray-300 rounded-lg p-2 ">
            <div class=""></div>

            <div class=" flex items-center gap-3 flex-col items-start">
                <div class="flex flex-1 justify-between" style=" width: 100%;">
                    <div class="text-xl font-md text-gray-800 tracking-wide block">
                        Reservation Data
                    </div>

                    <div class="flex items-center gap-2">
                        <button (click)="searchModal.toggleSearch()"
                            class="w-10 border border-gray-400 flex items-center justify-center py-2 rounded-sm cursor-pointer">
                            <i class="fa fa-search" aria-hidden="true"></i>

                        </button>
                        <button (click)="filterComp.toggleFilter($event)"
                            class="w-10 border border-gray-400 flex items-center justify-center py-2 rounded-sm cursor-pointer">
                            @if (filterComp.hasActiveFilters()) {
                            <i class="fa-solid fa-filter text-blue-600"></i>
                            } @else {
                            <i class="fa-solid fa-filter"></i>
                            }
                        </button>
                    </div>
                </div>
            </div>

            <app-filter #filterComp (filtered)="onFilteredData($event)">
            </app-filter>

            <app-search-modal #searchModal (SearchedData)="onSearchData($event)">
            </app-search-modal>


            <div class="flex gap-3 items-center border-1 border-gray-300  p-2">
                @if (searchModal.dateWithin() === 'daily') {
                <span class="text-sm font-medium">
                    {{ (filterComp.defaultDate()) | date:'MMMM d, yyyy' }}
                </span>}
                @else if(searchModal.dateWithin()==='weekly'|| searchModal.dateWithin()==='custom') {
                <span class="text-sm font-medium">
                    {{ searchModal.rangeDate()[0] | date:'MMMM d' }} - {{ searchModal.rangeDate()[1] | date:'MMMM d' }}
                </span>}

            </div>


            @let status = filterComp.appliedStatusFilters();

            @if (status.checkedLS) {
                <div class="flex gap-2 justify-center items-center w-[50px] bg-[#F3F4F6] px-2">
            <span class="w-auto text-sm font-semibold text-green-600">LS</span> <span class="cursor-pointer" (click)="filterComp.clearStatus('LS')">x</span></div>
            } @else if (status.checkedHH) {
            <span class="w-auto text-sm font-semibold text-yellow-600">HH</span><span class="cursor-pointer" (click)="filterComp.clearStatus('HH')">x</span>
            } @else if (status.checkedPR) {
            <span class="w-auto text-sm font-semibold text-red-600">PR</span><span class="cursor-pointer" (click)="filterComp.clearStatus('PR')">x</span>
            }
            @let trip = filterComp.appliedtripFilters();
            @if (trip.checkedOneWay) {
                   <div class="flex gap-2 justify-center items-center w-[50px] bg-[#F3F4F6] px-2">
            <span class="w-auto text-sm font-semibold text-green-600">1TW</span> <span class="cursor-pointer" (click)="filterComp.clearTrip('OneWay')">x</span></div>
            } @else if (trip.checkedRoundTrip) {
                   <div class="flex gap-2 justify-center items-center w-[50px] bg-[#F3F4F6] px-2">
            <span class="w-auto text-sm font-semibold text-green-600">2TW</span> <span class="cursor-pointer" (click)="filterComp.clearTrip('RoundTrip')">x</span></div>
            }
            @let resId = filterComp.appliedReservationIdInput();
            @if (resId) {
                   <div class="flex gap-2 justify-center items-center  w-[120px] bg-[#F3F4F6] px-2">   
            <span class="w-auto text-sm font-semibold text-green-600">ID: {{ resId }}</span> <span class="cursor-pointer" (click)="filterComp.clearId()">x</span></div>
            }

             @let date = filterComp.selectedDate();
            @if (date) {
                   <div class="flex gap-2 justify-center items-center  w-[100px] bg-[#F3F4F6] px-2">   
            <span class="w-auto text-sm font-semibold text-green-600">{{ date | date:'dd/MM/yy' }}</span> <span class="cursor-pointer" (click)="filterComp.clearDate()">x</span></div>
            }


            <div class=" h-[75vh] flex flex-col gap-3 overflow-y-auto border-1 border-gray-300 p-2">
                @if(searchModal.dateWithin() === 'daily') {
                <div class="border-1 border-gray-100 rounded-md flex justify-between items-center bg-[#F3F4F6] p-1 ">
                    <i (click)="searchModal.prevDate()" class="fa-solid fa-less-than fa-sm cursor-pointer"></i>
                    <span class="text-sm font-medium">
                        {{ (searchModal.currentDate || filterComp.defaultDate() ) | date:'EEEE d' }}
                    </span>
                    <i (click)="searchModal.nextDate()" class="fa-solid fa-greater-than fa-sm cursor-pointer "></i>
                </div>}

                @if (finalData.length > 0) {
                @if( searchModal.dateWithin() === 'daily' ){

                <div class="flex flex-col gap-3 overflow-y-auto  h-[65vh]">

                    @for (item of finalData; track item.reservationId) {
                    <div (click)="RightSectionData()"
                        class="shrink-0 flex relative bg-white border border-gray-300 rounded-md shadow-sm overflow-hidden ">
                        <div class="w-2 shrink-0" [style.backgroundColor]="item.colorIndicator"></div>
                        <div class="px-2 w-full">
                            <div class="flex flex-col">
                                <div class="flex justify-start gap-2">
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Reservation Status:
                                        </span>
                                        @if (item.reservationStatus === 'lease') {
                                        <span class="w-auto text-sm font-semibold text-green-600  ">LS</span>
                                        } @else if (item.reservationStatus === 'confirmed') {
                                        <span class="w-auto text-sm font-semibold text-yellow-600 ">HH</span>
                                        } @else if (item.reservationStatus === 'waitlist') {
                                        <span class="w-auto text-sm font-semibold text-red-600 ">PR</span>
                                        } @else {
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">N/A</span>
                                        }
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Trip Type:
                                        </span>

                                        @if (item.tripType === 'oneway') {
                                        <span class="w-auto text-sm font-semibold ">1TW</span>
                                        } @else if (item.tripType === 'roundtrip') {
                                        <span class="w-auto text-sm font-semibold ">2TW</span>
                                        } @else {
                                        <span class="w-auto text-sm font-semibold ">N/A</span>
                                        }
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Unit Number:
                                        </span>
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">
                                            {{ item.assignedUnit?.unitNumber || 'N/A' }}
                                        </span>
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">Customer
                                            Name:</span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.consumerCustomer.firstName }} </div>
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">Location
                                            Type:
                                        </span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.pickUp?.pickUpLocation?.locationType }} </div>
                                    </div>
                                </div>


                                <div class="flex justify-start gap-2">
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Tow Number:
                                        </span>
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">
                                            {{ item.assignedTowUnit?.unitNumber || 'N/A' }}
                                        </span>
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Unit Status:
                                        </span>
                                        <span pTooltip="{{ item.assignedUnit?.unitStatus || 'N/A' }}"
                                            tooltipPosition="top" tooltipStyleClass="compact-tooltip"
                                            class="max-w-[120px] w-auto text-sm font-semibold text-green-600 truncate">
                                            {{ item.assignedUnit?.unitStatus || 'N/A' }}
                                        </span>

                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Cash Deposit:
                                        </span>

                                        @if (item.cashDeposit === true) {
                                        <span class="w-auto flex items-center text-green-600">
                                            <i class="fa fa-money-bill text-base"></i>
                                        </span>
                                        } @else {
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">N/A</span>
                                        }
                                    </div>

                                    <span class="text-[#B3B6B8] flex ">|</span>
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">PickUp
                                            Date</span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.pickUp.pickUpDate }}
                                        </div>
                                    </div>

                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">Loc Code
                                        </span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.dropOff?.dropOffLocation?.locationCode }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if(item.reservationStatus === 'waitlist') {
                        <div
                            class="absolute right-0 top-0 h-full w-12 flex flex-col items-center justify-center text-sm font-semibold border-l border-gray-300 px-2 py-1">
                            <p class="mb-0 text-sm">WL</p>
                            <p class="mb-0 text-sm">PR</p>
                        </div>
                        }
                    </div>}


                </div>}

                @else if( searchModal.dateWithin() === 'weekly' || searchModal.dateWithin() === 'custom' ){
                <div class="flex flex-col gap-5">
                    @for(date of uniquePickUpDates(); track date ){

                    <div class="border-1 border-gray-100 rounded-md flex justify-center items-center bg-[#F3F4F6] p-1 ">
                        <span class="text-sm font-medium">{{ (date) | date:'EEEE d' }}</span>
                    </div>


                    @for (item of finalData; track item.reservationId) {
                    @if(item.pickUp?.pickUpDate === date) {
                    <div (click)="RightSectionData()"
                        class="shrink-0 flex relative bg-white border border-gray-300 rounded-md shadow-sm overflow-hidden  ">
                        <div class="w-2 shrink-0" [style.backgroundColor]="item.colorIndicator"></div>
                        <div class="px-2 w-full">
                            <div class="flex flex-col">
                                <div class="flex justify-start gap-2">
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Reservation Status:
                                        </span>
                                        @if (item.reservationStatus === 'lease') {
                                        <span class="w-auto text-sm font-semibold text-green-600  ">LS</span>
                                        } @else if (item.reservationStatus === 'confirmed') {
                                        <span class="w-auto text-sm font-semibold text-yellow-600 ">HH</span>
                                        } @else if (item.reservationStatus === 'waitlist') {
                                        <span class="w-auto text-sm font-semibold text-red-600 ">PR</span>
                                        } @else {
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">N/A</span>
                                        }
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Trip Type:
                                        </span>

                                        @if (item.tripType === 'oneway') {
                                        <span class="w-auto text-sm font-semibold ">1TW</span>
                                        } @else if (item.tripType === 'roundtrip') {
                                        <span class="w-auto text-sm font-semibold ">2TW</span>
                                        } @else {
                                        <span class="w-auto text-sm font-semibold ">N/A</span>
                                        }
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Unit Number:
                                        </span>
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">
                                            {{ item.assignedUnit?.unitNumber || 'N/A' }}
                                        </span>
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">Customer
                                            Name:</span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.consumerCustomer.firstName }} </div>
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">Location
                                            Type:
                                        </span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.pickUp?.pickUpLocation?.locationType }} </div>
                                    </div>
                                </div>

                                <div class="flex justify-start gap-2">
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Tow Number:
                                        </span>
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">
                                            {{ item.assignedTowUnit?.unitNumber || 'N/A' }}
                                        </span>
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Unit Status:
                                        </span>
                                        <span pTooltip="{{ item.assignedUnit?.unitStatus || 'N/A' }}"
                                            tooltipPosition="top" tooltipStyleClass="compact-tooltip"
                                            class="max-w-[120px] w-auto text-sm font-semibold text-green-600 truncate">
                                            {{ item.assignedUnit?.unitStatus || 'N/A' }}
                                        </span>

                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">
                                            Cash Deposit:
                                        </span>

                                        @if (item.cashDeposit === true) {
                                        <span class="w-auto flex items-center text-green-600">
                                            <i class="fa fa-money-bill text-base"></i>
                                        </span>
                                        } @else {
                                        <span class="w-auto text-sm font-semibold text-gray-800 ">N/A</span>
                                        }
                                    </div>

                                    <span class="text-[#B3B6B8] flex ">|</span>
                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">PickUp
                                            Date</span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.pickUp.pickUpDate }}
                                        </div>
                                    </div>
                                    <span class="text-[#B3B6B8] flex ">|</span>

                                    <div class="flex items-center min-h-[28px] gap-2">
                                        <span class="max-w-[120px] w-auto text-sm text-gray-500 shrink-0 ">Loc Code
                                        </span>
                                        <div class="w-auto text-sm font-semibold text-gray-800">{{
                                            item.dropOff?.dropOffLocation?.locationCode }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        @if(item.reservationStatus === 'waitlist') {
                        <div
                            class="absolute right-0 top-0 h-full w-12 flex flex-col items-center justify-center text-sm font-semibold border-l border-gray-300 px-2 py-1">
                            <p class="mb-0 text-sm">WL</p>
                            <p class="mb-0 text-sm">PR</p>
                        </div>
                        }
                    </div>
                    }

                    }

                    }
                </div>

                }
                }

                @else {
                <div class="w-full border rounded-md border-gray-400 flex justify-center items-center py-8 h-[68vh]">
                    <span class="text-lg">No Data Found</span>
                </div>
                }
            </div>
        </div>


        <!-- RIGHT -->
        @if (activeRight()) {
        <div class="w-2/5 border border-gray-300 rounded-md ">

            <div class="flex gap-4 border-b px-4 py-4">
                <input class="cursor-pointer" type="radio" [checked]="selectedMode() === 'Truck'"
                    (click)="selectedMode.set('Truck')" /> Truck
                <input class="cursor-pointer" type="radio" [checked]="selectedMode() === 'Tow'"
                    (click)="selectedMode.set('Tow')" /> Tow
            </div>

            <div class="flex gap-4 border-b px-4 py-4">
                <button (click)="selectedType('MyLocation')  " class="cursor-pointer"
                    [ngClass]="{'underline': activeType === 'MyLocation'}">My Location</button>
                <button (click)="selectedType('OtherLocation')" class="cursor-pointer"
                    [ngClass]="{'underline': activeType === 'OtherLocation'}">Other Location</button>
            </div>
            <!-- Header -->
            <div class="px-4 py-3 border-b font-semibold text-gray-700">
                Available
            </div>

            <div class="h-[70vh] overflow-y-auto ">
                <!-- Truck -->
                <!-- Truck - myLocation -->
                <div class="h-[70vh] overflow-y-auto ">
                    <!-- Truck -->
                    <!-- Truck - myLocation -->

                    @if (selectedMode() === 'Truck' && activeType === 'MyLocation') {
                    @for (unit of myLocflatUnits(); track unit.unitNumber ){
                    @if (
                    unit.unitClassCode !== '9000' && unit.unitClassCode !== '9200' && unit.unitClassCode !== '9600'
                    ) {

                    <div class="flex flex-col  justify-between px-2 ">
                        <div class="flex items-center gap-1 p-1 ">
                            <span class="font-semibold text-gray-800 text-base">
                                {{ unit.unitClassCode }}' {{ unit.unitDescription }}
                            </span>
                            <span class="text-gray-500">|</span>
                            <span class="text-gray-700 text-sm">
                                {{ unit.unitType }}
                            </span>
                        </div>

                        <div class="border-1 mx-1 my-2 rounded-md border-gray-300 p-2 bg-[#F9F9F9]">
                            <p class="text-sm text-gray-600 mt-1">
                                <span class="font-medium" pTooltip="Unit Number" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">{{unit.unitNumber}}</span> |
                                <span pTooltip="Owning Location" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    OWN:
                                    {{unit.owningLocation.loc_cd}}</span> |
                                <span pTooltip="Physical Location " tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    LOC: {{unit.physicalLocation.loc_cd}} </span>|

                                @if(unit.optionalEquipment?.RAMP || unit.optionalEquipment?.["ROLL DOOR"]){
                                <span pTooltip="RAMP" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment.RAMP}} </span> <span pTooltip="ROLL DOOR"
                                    tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment["ROLL DOOR"] }}
                                </span>|}

                                <span pTooltip="CDL Category" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.cdlCategory}} </span>
                            </p>

                            <div class="flex items-center gap-1 text-sm text-gray-500 mt-1">
                                <span>{{unit.unitStatus}}</span>|
                                @if(unit.pmDueInDays){
                                <span>PM Due: <span class="font-medium text-gray-700">{{unit.pmDueInDays}}
                                        days</span></span>}
                                <span class="text-orange-500">📄</span>
                            </div>

                        </div>
                    </div>
                    }
                    }}

                    <!-- Truck - otherLocation -->
                     
                    @if (selectedMode() === 'Truck' && activeType === 'OtherLocation') {
                    @for (unit of othLocflatUnits(); track unit.unitNumber ){
                    @if ( unit.unitClassCode !== '9000' && unit.unitClassCode !== '9200' && unit.unitClassCode !==
                    '9600'
                    ) {

                    <div class="flex flex-col  justify-between px-2 ">
                        <div class="flex items-center gap-1 p-1">
                            <span class="font-semibold text-gray-800 text-base">
                                {{ unit.unitClassCode }}' {{ unit.unitDescription }}
                            </span>
                            <span class="text-gray-500">|</span>
                            <span class="text-gray-700 text-sm">
                                {{ unit.unitType }}
                            </span>
                        </div>

                        <div class="border-1 mx-1 my-2 rounded-md border-gray-300 p-2 bg-[#F9F9F9]">
                            <p class="text-sm text-gray-600 mt-1">
                                <span class="font-medium" pTooltip="Unit Number" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">{{unit.unitNumber}}</span> |
                                <span pTooltip="Owning Location" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    OWN:
                                    {{unit.owningLocation.loc_cd}}</span> |
                                <span pTooltip="Physical Location " tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    LOC: {{unit.physicalLocation.loc_cd}} </span> |

                                @if(unit.optionalEquipment?.RAMP || unit.optionalEquipment?.["ROLL DOOR"]){
                                <span pTooltip="RAMP" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment.RAMP}} </span> <span pTooltip="ROLL DOOR"
                                    tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment["ROLL DOOR"] }}
                                </span>|}

                                <span pTooltip="CDL Category" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.cdlCategory}} </span>
                            </p>

                            <div class="flex items-center gap-1 text-sm text-gray-500 mt-1">
                                <span>{{unit.unitStatus}}</span>
                                |
                                @if(unit.pmDueInDays){
                                <span>PM Due: <span class="font-medium text-gray-700">{{unit.pmDueInDays}}
                                        days</span></span>}
                                <span class="text-orange-500">📄</span>
                            </div>

                        </div>
                    </div>
                    }
                    }}



                    <!-- Tow -->

                    <!-- Tow - myLocation -->

                    @if (selectedMode() === 'Tow' && activeType === 'MyLocation') {
                    @for (unit of myLocflatUnits(); track unit.unitNumber ){
                    @if (unit.unitClassCode === '9200' || unit.unitClassCode === '9600' || unit.unitClassCode ===
                    '9000') {

                    <div class="flex flex-col  justify-between px-2 ">
                        <div class="flex items-center gap-1 p-1">
                            <span class="font-semibold text-gray-800 text-base">
                                {{ unit.unitClassCode }}' {{ unit.unitDescription }}
                            </span>
                            <span class="text-gray-500">|</span>
                            <span class="text-gray-700 text-sm">
                                {{ unit.unitType }}
                            </span>
                        </div>

                        <div class="border-1 mx-1 my-2 rounded-md border-gray-300 p-2 bg-[#F9F9F9]">
                            <p class="text-sm text-gray-600 mt-1">
                                <span class="font-medium" pTooltip="Unit Number" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">{{unit.unitNumber}}</span> |
                                <span pTooltip="Owning Location" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    OWN:
                                    {{unit.owningLocation.loc_cd}}</span> |
                                <span pTooltip="Physical Location " tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    LOC: {{unit.physicalLocation.loc_cd}} </span> |

                                @if(unit.optionalEquipment?.RAMP || unit.optionalEquipment?.["ROLL DOOR"]){
                                <span pTooltip="RAMP" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment.RAMP}} </span> <span pTooltip="ROLL DOOR"
                                    tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment["ROLL DOOR"] }}
                                </span>|}

                                <span pTooltip="CDL Category" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.cdlCategory}} </span>
                            </p>

                            <div class="flex items-center gap-1 text-sm text-gray-500 mt-1">
                                <span>{{unit.unitStatus}}</span>|
                                @if(unit.pmDueInDays){
                                <span>PM Due: <span class="font-medium text-gray-700">{{unit.pmDueInDays}}
                                        days</span></span>}
                                <span class="text-orange-500">📄</span>
                            </div>

                        </div>


                    </div>
                    }
                    }
                    }


                    <!-- Tow - otherLocation -->
                    @if (selectedMode() === 'Tow' && activeType === 'OtherLocation') {

                    @for (unit of othLocflatUnits(); track unit.unitNumber ) {
                    @if (unit.unitClassCode === '9000' || unit.unitClassCode === '9200' || unit.unitClassCode ===
                    '9600' ) {

                    <div class="flex flex-col  justify-between px-2 ">
                        <div class="flex items-center gap-1 p-1">
                            <span class="font-semibold text-gray-800 text-base">
                                {{ unit.unitClassCode }}' {{ unit.unitDescription }}
                            </span>
                            <span class="text-gray-500">|</span>
                            <span class="text-gray-700 text-sm">
                                {{ unit.unitType }}
                            </span>
                        </div>

                        <div class="border-1 mx-1 my-2 rounded-md border-gray-300 p-2 bg-[#F9F9F9]">
                            <p class="text-sm text-gray-600 mt-1">
                                <span class="font-medium" pTooltip="Unit Number" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">{{unit.unitNumber}}</span> |
                                <span pTooltip="Owning Location" tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    OWN:
                                    {{unit.owningLocation.loc_cd}}</span> |
                                <span pTooltip="Physical Location " tooltipPosition="top"
                                    tooltipStyleClass="compact-tooltip">
                                    LOC: {{unit.physicalLocation.loc_cd}} </span> |

                                @if(unit.optionalEquipment?.RAMP || unit.optionalEquipment?.["ROLL DOOR"]){
                                <span pTooltip="RAMP" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment.RAMP}} </span> <span pTooltip="ROLL DOOR"
                                    tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.optionalEquipment["ROLL DOOR"] }}
                                </span>|}

                                <span pTooltip="CDL Category" tooltipPosition="top" tooltipStyleClass="compact-tooltip">
                                    {{unit.cdlCategory}} </span>
                            </p>

                            <div class="flex items-center gap-1 text-sm text-gray-500 mt-1">
                                <span>{{unit.unitStatus}} </span>

                                @if(unit.pmDueInDays){
                                <span>PM Due: <span class="font-medium text-gray-700">{{unit.pmDueInDays}}
                                        days</span></span>}
                                <span class="text-orange-500">📄</span>
                            </div>

                        </div>


                    </div>
                    }
                    }
                    }

                </div>

            </div>
        </div>}
        @else {
        <div class="w-2/5 border border-gray-300 rounded-md flex flex-col items-center justify-center">
            <div><i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <span>Select a reservation card to see more details.</span>
        </div>
        }

    </div>
</div>     